[Unit]
Description=Run user suspend.target
Before=sleep.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user --machine=%i@ start --wait suspend.target
# ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
